.row
  %h1 Tasks #{"for #{format_date @date}" unless @date.blank?}
.row
  = render partial: 'task', collection: @events
%br
%br
.row
  = link_to 'Day overview', day_path(@date.blank? ? 'today' : @date)
