- provide(:submit, 'Save changes')
.row
  %h1 Edit an appointment
.row
  = render @appointment
  = button_to "Delete appointment", user_appointment_path(current_user, @appointment), method: 'delete', class: 'btn btn-large btn-danger'
