- provide(:submit, 'Save changes')
.row
  %h1 Edit an appointment
.row
  = render 'appointment_form'
  = button_to "Delete appointment", user_appointment_path(current_user, @event), method: 'delete', class: 'btn btn-large btn-danger'
