.jumbotron
  %h1.text-error Schedule Failure
  %p.lead Sometimes, scheduling is hard, even for a computer. There might have been too many possibilities to try, or something might have gone wrong. Try getting rid of some #{link_to 'tasks', user_tasks_path(current_user, date: @date)}, shortening their time windows, or adding some #{link_to 'appointments', user_appointments_path(current_user, date: @date)}. If none of those work, try again later.
