.jumbotron
  %h1.text-error Schedule Failure
  %p.lead Sometimes, scheduling is hard, even for a computer. There might have been too many possibilities to try, or something might have gone wrong. Try getting rid of some tasks, or shortening their time windows, or adding some appointments. If none of those work, try again later.
