.jumbotron
  %h1.text-error Impossible Day
  %p.lead There's no possible way that day can work. Try deleting some #{link_to 'appointments', user_appointments_path(current_user, date: @date)} or #{link_to 'tasks', user_tasks_path(current_user, date: @date)} or increasing the time windows for your tasks.
